<!DOCTYPE html>
<html>
    <!-- 밑에 코드를 쓰면 이제 jQuery를 사용할 수 있게 됨 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>

</head>
<body>
    <div>
        <fieldset>
            <textarea cols = "30" rows = "20" id = "ori_text">{{key}} 번역할 내용을 입력하세요.</textarea>
            <textarea cols = "30" rows = "20"></textarea>
            <button type = "button" onclick = "javascript : lang_detect();">언어감지 요청</button>
        </fieldset>
    </div>
    <script>
        // 1. 이 태그에서 화면을 조작함, DOM을 조작해서 작업을 수행하면 됨, 조작하고 싶은 위치에 배치하면 됨
        // 2. javascript가 html에 포함되는 방식들 : external, internal, inline
        function lang_detect()
        {
            // 파이썬 print 같은거
            console.log('lang_detect() call')
            // 왼쪽 textarea에 작성된 말뭉치를 서버로 보내기 위해 왼쪽 textare를 찾기(css selector or xpath)
            // 1. 순수 html5를 사용
            // let target = document.querySelector('#ori_text')
            // console.log(target)

            // 2. javascript 프레임워크(jQuery) 사용 : 4번 줄의 코드 추가해야 함
            // $('css selector') == document.querySelector('css selector')
            // val() : input, select, textare 태그에서 값 추출하는 함수
            let target = $('#ori_text').val()
            console.log(target)

            // ajax를 통해 서버로 위 값을 전송하기
            // 웹은 http, https 기반 프로토콜 사용함
            // get 방식은 http 헤더를 통해 보냄, 정보가 주소창에 노출됨, 소량의 데이터
            // post 방식은 보안에 좋음, 대용량 대이터(파일 업로드도 이거로 함)
            // 말뭉치는 post 방식으로 전송하기로 함
            $.post({
                'url' : '/lang_detect', // 데이터를 보낼 주소
                'data' : 'ori_src=' + target, // 보낼 데이터(value side)를 '키=값' 형태로  만듬
                'dataType' : 'json', // 응답 데이터를 json 처리, flask에서는 딕셔너리 형태로 전송하기
                success : function (res) { // 송신 성공시 res 타고 들어옴
                    console.log('성공', res)
                },
                error : function (err) { // 송신 실패시 err 타고 들어옴
                    console.log('실패', err)
                },
            })

            // 응답 결과를 받기(en, fr, id, tl)
            // ajax로 화면의 새로고침 없이 처리하기
            // 서버측 주소는 ~/lang_detext 로 설정
        }
    </script>
</body>
</html>